* {
    margin: 0;
    padding: 0;
    border: 0;
}

.auth {
    height: 500px;
}

.auth > .container {
    width: 800px;
    margin: 0 auto;
}

.auth > .container > h1 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #636363;
    margin-top: 30px;
}

form {
	margin: 2em auto;
	padding: 3em 10em 2em 10em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

form > .label {
    font-size: 20px;
    overflow: hidden;
    display: block;
    margin-bottom: 10px;
}

form > input {
    width: 100%;
    font-size: 22px;
    display: block;
    background: #fafafa;
	color: #636363;
    border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
    margin-bottom: 30px;
}

form > input:focus {
    outline: none;
    background-color: #EAEAEA;
}

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #3160B6;
  cursor: pointer;
  transition: all 0.15s ease;
}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonBlue {
  background: #4a89dc;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover { background: #357bd8; }
