/* -------- 通用设置 -------- */
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Arial";
    font-size: 14px;
}

body {
    color: #14191E;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* ------------------------*/
/* -------- header --------*/
header {
    height: 80px;
    background-color: #000000;
}

header > .container {
    width: 1200px;
    margin: 0 auto 0 auto;
}

header > .container > a {
    display: block;
    float: left;
    margin: 5px 25px;
}

header > .container > nav {
    float: right;
}

header > .container > nav > a {
    width: 110px;
    height: 73px;
    line-height: 73px;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    display: block;
    float: left;
}

header > .container > nav > a.Home {
    background-color: #433B90;
}

header > .container > nav > a.Plan {
    background: #017FCB;
}

header > .container > nav > a.Member {
    background: #78B917;
}

header > .container > nav > a.About {
    background: #FEB800;
}

header > .container > nav > a.Join {
    background: #F27C01;
}

header > .container > nav > a.Login {
    background: #D40112;
}

header > .container > nav > a:hover,
header > .container > nav > a:active {
    padding-bottom: 7px;
}


/* ------------------------ */
/* -------- footer -------- */
footer {
    background-color: #000000;
}

footer > .container {
    width: 1200px;
    height: 64px;
    margin: 0 auto 0 auto;
}

footer > .container > p {
    line-height: 64px;
    float: left;
    color: #FFFFFF;
}

footer > .container > span {
    float: right;
    margin: 14px 40px;
}

footer > .container > span > img {
    margin-left: 4px;
    opacity: 0.7;
}

footer > .container > span > img:hover {
    opacity: 1;
    cursor: pointer;
}


/* ----------------- ------*/
/* -------- banner --------*/
.banner {
    background-color: #EAEAEA;
}

.banner > ul {
    position: relative;
    width: 1200px;
    height: 538px;
    margin: 0 auto;
    margin-top: 10px;
}

.banner > ul > li {
    position: absolute;
    width: 610px;
    height: 300px;
    overflow: hidden;
}

.banner > ul > li.active {
    z-index: 2;
    top: 37px;
    right: 0;
    left: 0;
    width: 960px;
    height: 460px;
    margin: auto;
    border: 1px solid #FFF;
}

.banner > ul > li.left {
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.banner > ul > li.right {
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.banner > ul > li > img {
    position: absolute;
    left: -30%;
    height: 100%;
}


/* ----------------------------- */
/* -------- main section --------*/
.main {
    width: 1200px;
    height: 473px;
    margin: 34px auto 0;
}

.main h1 {
    font-size: 30px;
    /*font-weight: lighter;*/
    margin-bottom: 23px;
}

.main h1 > samp {
    font-size: 30px;
    color: #7C7C7C;
}

.main > aside {
    float: left;
    width: 450px;
}

.main > aside > dl {
    position: relative;
    display: block;
    height: 74px;
    margin-bottom: 17px;
}

.main > aside > dl > dt {
    position: absolute;
    top: -1px;
    left: 92px;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    text-decoration: underline;
}

.main > aside > dl > dd:first-of-type {
    position: absolute;
    left: 0;
}

.main > aside > dl > dd:last-of-type {
    position: absolute;
    top: 20px;
    left: 90px;
}

.main > article {
    float: right;
    width: 720px;
    overflow: hidden;
}

.main > article > p,
.main > article > img {
    margin-bottom: 20px;
}


/* --------------------- */
/* -------- auth --------*/
.auth {
    height: 500px;
}

.auth > .container {
    width: 800px;
    margin: 0 auto;
}

.auth > .container > h1 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #636363;
    margin-top: 30px;
}

form {
    margin: 2em auto;
    padding: 3em 10em 2em 10em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

form > .label {
    font-size: 20px;
    overflow: hidden;
    display: block;
    margin-bottom: 10px;
}

form > input {
    width: 100%;
    font-size: 22px;
    display: block;
    background: #fafafa;
    color: #636363;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
    margin-bottom: 30px;
}

form > input:focus {
    outline: none;
    background-color: #EAEAEA;
}

.button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    margin: .3em 0 1em 0;
    width: 100%;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #3160B6;
    cursor: pointer;
    transition: all 0.15s ease;
}

.button:focus {
    outline: 0;
}

.buttonBlue {
    background: #4a89dc;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover {
    background: #357bd8;
}







