/* -------- 通用设置 -------- */
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Arial";
    font-size: 14px;
}

body {
    color: #14191E;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/* -------- header --------*/
header {
    height: 80px;
    background-color: #000000;
}

header > .container {
    width: 1200px;
    margin: 0 auto 0 auto;
}

header > .container > nav {
    float: right;
}

header > .container > nav > a {
    width: 110px;
    height: 73px;
    line-height: 73px;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    display: block;
    float: left;
}

header > .container > nav > a.Home { background-color: #433B90; }
header > .container > nav > a.Plan { background: #017FCB; }
header > .container > nav > a.Member { background: #78B917; }
header > .container > nav > a.About { background: #FEB800; }
header > .container > nav > a.Join { background: #F27C01; }
header > .container > nav > a.Login { background: #D40112; }

header > .container > nav > a:hover,
header > .container > nav > a:active {
    padding-bottom: 7px;
}


/* ------------------------------------------------------------- */
/* -------- footer -------- */
footer {
    background-color: #000000;
}

footer > .container {
    width: 1200px;
    height: 64px;
    margin: 0 auto 0 auto;
}

footer > .container > p {
    line-height: 64px;
    float: left;
    color: #FFFFFF;
}

footer > .container > span {
    float: right;
    margin: 14px 40px;
}

footer > .container > span > img {
    margin-left: 4px;
    opacity: 0.7;
}

footer > .container > span > img:hover {
    opacity: 1;
    cursor: pointer;
}
