{% extends "layout.html" %}

{% block title %}登录 - ITElite{% endblock %}

{% block CSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block section %}
    <section class="auth">
        <div class="container">
            <h1>用户登录</h1>
            <form>
                <span class="label">用户名</span>
                <input type="text">
                <span class="label">密码</span>
                <input type="password">
                <input type="submit">
                <button type="submit" class="button buttonBlue">Subscribe
                    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                </button>
            </form>
        </div>
    </section>

{% endblock %}




